.CFUserTextEncoding
.DS_Store
.aws/
.cache/
.conda/
.condarc
.config/iterm2
.config/nvim
.config/nvim.backup
.config/spicetify
.docker/
.exported-keys/
.git-credentials
.gitconfig
.gnupg/
.huggingface/
.lesshst
.lldb/
.local/
.matplotlib/
.modular/
.npm/
.nvm/
.oh-my-zsh/
.ollama/
.password-store/
.poetry/
.pydistutils.cfg
.redhat/
.spicetify/
.ssh/
.tmux/
.vim/
.viminfo
.vscode/
.zsh_history
.zsh_sessions/
.zshrc
Applications/
Desktop/
Documents/
Downloads/
Education/
Library/
Movies/
Music/
Pictures/
Projects/
Public/
iCloud Drive (Archive)/
iterm/
lib/
mambaforge/
miniconda3/
qmk_firmware/
.zcompdump-*
.Trash